.currency-list {
  &__label {
    margin-right: 10px;

    color: #d6d6d6;
    font-weight: bold;
  }

  &__select {
    height: 30px;
    width: 100px;

    background: #d6d6d6;
    border: none;
    border-radius: 7px;

    font-weight: bold;

    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__option {
    background: #bdbdbd;

    font-weight: bold;
  }
}


.custom-cart {
  height: auto;
  width: 300px;

  display: grid;
  grid-template: 50px 1fr/ 1fr 1fr;

  margin-top: 20px;

  border: 2px solid #d6d6d6;
  border-radius: 10px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.3);

  color: #d6d6d6;

  &__title {
    grid-area: 1/1/1/span 2;
  }
  &__selected-products {
    grid-area: 2/1/2/1;
  }

  &__final-price {
    grid-area: 2/2/2/2;

    flex-direction: column;
  }
}
.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
