/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #3c3c3c;
}

.auth-info-snackbar .mat-simple-snackbar-action {
  color: #b70000;
}


.app-default-button {
  border: none;
  border-radius: 15px;

  font-weight: bold;

  transition: 200ms linear;

  cursor: pointer;
}
.app-default-button:focus {
  outline: none;
}

